body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #333;
}

.example::-webkit-scrollbar {
    display: none;
  }

  /* Скрыть вертикальную полосу прокрутки */
::-webkit-scrollbar {
    width: 0;
    height: 0; 
  }
  

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}

/* Container */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-content: center;
    justify-content: center;
}

.heght__line{
    width: 100%;
    border-top: 1.2px solid #000000;
}

.header {
    padding-top: 5px;
}
/* .header__inner{ */
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center; */
/* } */

.nav{
    font-size: 20px;
    text-transform: uppercase;
    margin: 18px;
}

.nav__link{
    display: inline-block;
    vertical-align: top;
    margin: 0 35px;
    color:#000;
    text-decoration: none;
    transition: color 0.2s linear;
}

.nav__link:hover{
    color: gray;
}


.intro {
    width: 100%;
    height: auto; 
    background:
    url("image/Rectangle.png") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
   
}

.background1 {
    padding-top: 30px;
    width: 100%;
    height: 220vh; 
    background:
    url("image/Rectangle.png") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
}



.background__space {
    width: 100%;
    border-top: 70px solid #ffffff;
    
}

.grid__cintainer {
    margin: 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Создаем 3 колонки одинаковой ширины */
    grid-gap: 40px; /* Добавляем промежутки между изображениями */
  }
  
.grid__cintainer img {
  width: 95%; /* Изображения занимают всю ширину ячейки */
  height: auto; /* Сохраняем пропорции */
}

.header__text {
    text-align: center; 
    color: #ffffff;
    font-size: 38px;
    margin: 30px 10px 10px 10px;
}

.registration-form {
    margin: 12vh;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
  }

  .registration-form h2 {
    text-align: center;
    color: #333;
  }

  .form-group {
    margin-bottom: 15px;
  }

  .form-group label {
    display: block;
    margin-bottom: 15px;
    font-weight: bold;
  }

  .form-group input {
    width: 100%;
    padding: 18px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Важно для правильного отображения ширины */
  }

  .form-group button {
   
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 50%;
  }

  .form-group button:hover {
    background-color: #3e8e41;
  }

  .form-group .error {
    color: red;
    font-size: 0.8em;
    margin-top: 5px;
  }