body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #333;
}

html {
  scroll-behavior: smooth; /* Плавная прокрутка */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
}

/* Скрыть скрол */

.example::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar {
    width: 0;
    height: 0; 
} 


.text-container{
  white-space: nowrap;
}



/* Containers */

.container {
  width: 100%;
  max-width: 1200px;
  height: auto;
  margin: 0 auto;
  display: flex;
  align-content: center;
  justify-content: center;
  
  z-index: 2000; 
  position: relative;
}

.container__image2 {
  width: 100%;
  height: auto; 
  display: flex;
  justify-content: flex-end;
  position: relative;
  z-index: 1000; 
}

.container__image {
  width: 100%;
  height: 180vh; 
  background:
  url("../image/Mask\ group.png") no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  z-index: 1000; 
}

.container__center {
  width: 100%;
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  
  z-index: 2000; 
  position: relative;
}

/* Header */

.header {
  width: 100%; /* Занимает всю ширину */
  position: fixed;
  display: flex;
  justify-content: flex-end;
  background-color: #00000081;

  z-index: 5000;
}

.nav {
  font-size: 15px;
  text-transform: uppercase;
  margin: 18px;

  text-decoration: none; 
  transition: text-decoration 0.3s ease;
}

.nav__link {
  display: inline-block;
  vertical-align: top;
  margin: 0 25px;
  color:white;
  text-decoration: none;
  transition: color 0.2s linear;
  position: relative;
  text-decoration: none;
  z-index: 2000;
}

.nav__link__login {
  display: inline-block;
  vertical-align: top;
  margin: 0 -22px;
  color:white;
  text-decoration: none;
  transition: color 0.2s linear;
  z-index: 2000;
}

.nav__link::after {
content: '';
position: absolute;
left: 0;
bottom: -4px; /* Расстояние от текста */
width: 100%;
height: 1.6px; /* Толщина полоски */
background-color: white; /* Цвет полоски */
opacity: 0; /* Скрываем полоску по умолчанию */
transition: opacity 0.3s ease; /* Плавная анимация */
}

.nav__link:hover::after {
opacity: 1; /* Показываем полоску при наведении */
}

/* Intro */

.intro {
  width: 100%;
  height: 200vh; 
  background-color: rgb(1, 0, 2);
}

.intro1 {
  width: 100%;
  height: 300vh; 
  background-color: rgb(1, 0, 2);
  -webkit-background-size: cover;
  background-size: cover;
 
}

.intro_register {
  width: 100%;
  height: 100vh; 
  background-color: black;
  -webkit-background-size: cover;
  background-size: cover;

}


/* Grid */

.grid__cintainer {
  margin: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Создаем 3 колонки одинаковой ширины */
  grid-gap: 45px; 
 /* Добавляем промежутки между изображениями */
}
  
.grid__cintainer img {
  width: 95%; /* Изображения занимают всю ширину ячейки */
  height: auto; /* Сохраняем пропорции */
}

.header__text {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.644);
  color: #ffffff;
  font-size: 42px;
  margin: 50px;
}


/* РЕГИСТРАЦИЯ */

.registration-form {
  margin: 20vh;
  background-color: #ffffff;
  padding: 35px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.829);
  width: 100%;
}

.registration-form h2 {
  text-align: center;
  color: #000000;
  font-size: 36px;
  margin: 0 0 8%;
}

.form-group {
  margin-bottom: 15px;
}

.form-group input {
  width: 100%;
  padding: 20px;
  border: 1px solid #000000;
  border-radius: 8px;
  box-sizing: border-box; /* Важно для правильного отображения ширины */
}

.form-group button {  
  background-color: #2b2b2b;
  color: white;
  padding: 20px 30px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
}

.form-group button:hover {
  background-color: #464646;
}

.form-group .error {
  color: red;
  font-size: 0.8em;
  margin-top: 5px;
}

.setka {
  width: 100%; /* Ширина контейнера */
  height: 100vh; /* Высота контейнера */
  position: relative; /* Цвет фона контейнера */
  background-image: 
  linear-gradient(90deg, rgba(255, 255, 255, 0.082) 1px, transparent 1px), /* Вертикальные линии */
  linear-gradient(rgba(255, 255, 255, 0.089) 1px, transparent 1px); /* Горизонтальные линии */
  background-size: 25px 25px; 
  z-index: 1000;/* Размер ячеек сетки */
}

/* Для JS */


.fade-in-text {
  opacity: 0; /* Скрываем текст по умолчанию */
  transition: opacity 1.5s ease; /* Плавный переход для изменения прозрачности */
}

.fade-in-text.visible {
  opacity: 1; /* Показываем текст при добавлении класса visible */
}

.fade-in-text.hidden {
  opacity: 0; /* Скрываем текст при добавлении класса hidden */
}



.fade-in-image {
  opacity: 0; /* Скрываем изображение по умолчанию */
  transition: opacity 1.5s ease; /* Плавный переход для изменения прозрачности */
}

.fade-in-image.visible {
  opacity: 1; /* Показываем изображение при добавлении класса visible */
}

.fade-in-image.hidden {
  opacity: 0; /* Скрываем изображение при добавлении класса hidden */
}